:root {
    --dark-mode-elements: hsl(209, 23%, 22%);
    --dark-mode-bg: hsl(207, 26%, 17%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --bg: hsl(0, 0%, 98%);
    --dark-mode-text: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4.9rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;

    button {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;
    }
}

main {
    padding: 3.5rem 4.9rem;
    background-color: var(--bg);

    form {
        label {
            position: relative;
    
            ion-icon {
                position: absolute;
                top: 50%;
                left: 1.6rem;
                transform: translateY(-50%);
            }
    
            input {
                width: 35%;
                padding: 1.2rem 1.2rem 1.2em 3.4rem;
                border-radius: 0.2rem;
                border: none;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
}