@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  --input-color: black;
}

body {
  background-color: hsl(0, 0%, 98%);
} 

button {
  cursor: pointer;
}

.filter select, .search, .theme-switch, .btn-back, .border-country, .tab-button {
  transition: outline 0.1s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(0, 0%, 98%);
}

.navbar h1 {
  font-size: 14px;
}

.theme-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: currentColor;
}

.icon-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.sun {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(103%);
}

.form {
  width: 90%;
  margin: 1.8rem auto;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto 20px;
}

.label {
  display: none;
}

.search {
  font-size: 14px;
  width: 100%;
  padding: 14px 10px 14px 50px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.05);
}

::placeholder {
  color: var(--input-color);
}

.search:focus {
  outline: 1px solid currentColor;
}

.dropdown-container {
  position: relative;
  margin: 2rem 0 1rem 0;
  width: 60%;
  z-index: 99;
  padding-bottom: 4rem;
  font-size: 14px;
}
      
.dropdown-wrapper, .options {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.dropdown-wrapper:focus-visible {
  outline: 1px solid currentColor;
}

.options {
  margin-top: 0.5rem;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.07);
  opacity: 0;
  top: 100%;
  visibility: hidden;
  padding: 0.8rem;
}

.dropdown-wrapper button {
  all: unset;
  padding: 0.4rem 0.7rem;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.07);
  border-radius: 0.2rem;
}

#btn-main {
  padding: 14px 10px 14px 12px;
} 

.arrow {
  position: relative;
  top: 50%;
  right: 10%;
}

.card {
  width: 75%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.05);
  cursor: pointer;
}

.tab-button {
  border: none;
  text-align: left;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  padding-bottom: 2.4rem;
  color: var(--input-color);
}

.card-img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.text-wrapper {
  padding: 0 1rem;
}

.card-heading {
  margin: 0.9rem 0;
  font-size: 1.3rem;
}

.card p {
  margin: 0.3rem 0;
}

.card p span {
  font-weight: 600;
}

.error-heading, .error-message {
  text-align: center;
}

.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.error-heading {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.error-message {
  font-size: 1.5rem;
}

.detailed-country {
  padding: 0 7% 7% 7%;
}

.btn-back {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.3rem 1rem;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  margin: 1.5rem 0 2.5rem 0;
  border-radius: 0.1rem;
}

.detailed-flag {
  width: 100%;
}

.detailed-country p {
  margin: 0.3rem 0;
}

#tld {
  margin-top: 1.6rem;
}

.detailed-country p span {
  font-weight: 600;
}

.detailed-heading {
  margin: 0.8rem 0;
}

.detailed-country h3 {
  margin-top: 1rem;
  grid-column: 1 / -1;
}

.border-countries-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10% 5%;
  padding: 0.8rem 0 12% 0;
}

.border-country {
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-radius: 0.15rem;
  padding: 0.3rem 0.7rem;
}

@media screen and (min-width: 960px) {
  .navbar {
    padding: 1.5rem 4.5%;
  }
 
  .navbar h1 {
    font-size: 1.6rem;
  }
  
  .theme-switch {
    font-size: 1rem;
  }
  
  .theme-switch:focus-visible {
    outline: 2px solid currentColor;
  } 
  
 .form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 3.5% auto;
  } 

 .search {
   width: 45%;
   padding: 21px 14px 21px 50px;
   font-size: 1rem;
 }
 
 .search:focus {
    outline: 2px solid currentColor;
  }
 
 .dropdown-container {
   margin: 0;
   width: 25%;
 } 

 .dropdown-wrapper {
  cursor: pointer;
 }
 
 #btn-main {
   padding: 21px 14px 21px 14px;
 }
  
  #root {
    width: 90%;
    margin: 0 auto 8% auto;
    display: grid;
    grid-template-columns: repeat(4, 21.25%);
    grid-column-gap: 5%;
    grid-row-gap: 1%;
  }
  
  .btn-back {
    margin: 3.2rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
  
  .btn-back:focus-visible {
    outline: 2px solid currentColor;
  }
  
  .card {
    margin: 0;
    width: 100%;
  }
  
  .tab-button:focus-visible {
    outline: 2px solid currentColor;
  } 
 
 .text-wrapper {
    padding: 0 1.5rem;
 } 
  
  .card img {
    aspect-ratio: 5 / 3;
    object-fit: cover;
  }
  
  .country-container {
    display: grid; 
    grid-template-columns: repeat(2, 45%);
    grid-gap: 10%;
    align-items: center;
  } 
  
  .text-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 20%);
    grid-column-gap: 10%;
    grid-row-gap: 6.666%;
    grid-auto-flow: column;
  } 
  
  .detailed-country {
    padding: 0 5%;
  }
  
  .detailed-heading {
    margin-bottom: 1.5rem;
  }
  
  .detailed-country p, #tld {
    margin: 0;
    font-size: 1.05rem;
  } 
  
  .border-countries-container {
    margin-top: 2.5rem;
    align-items: center;
  }
  
  .detailed-country h3 {
    font-size: 1rem;
    grid-column: 1 / 2;
    margin: 0;
  }
  
  .border-country {
    font-size: 0.9rem;
  }
  
  .border-country:focus {
    outline: 2px solid currentColor;
  }
}